* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #99a5c7;
  --color: #1d4ed8;
}

body {
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

header {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 15px;
}

header > img {
  width: 276px;
  height: 104px"
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main > div {
  background-color: white;
  padding: 15px;
  border-radius: 7px;
  width: 400px;
  padding: 30px 50px;
  margin-bottom: 70px;
}

.back h1 {
font-size: 30px;
font-weight: 400;
margin-bottom: 15px;
}

.back p {
    font-size: 15px;
    color: #A0A3BD;
}
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
form > div > input {
  width: 300px;
  height: 40px;
  margin: 15px 0px;
  background-color: #f6f7ffba;
  border: 1px solid #d5d7e0ba;
  border-radius: 5px;
  padding: 5px 15px;
}

form > input {
  text-align: left;
}

.pass {
  position: relative;
}

.material-symbols-outlined {
  position: absolute;
  top: 40px;
  right: 15px;
  color: #85868fba;
  cursor: pointer;
}

.forgotpwd {
  width: 100%;
    text-align: right;
    color: var(--color);
}

button {
  background-color: var(--color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  margin-bottom: 15px;
}

.connect {
  margin: 15px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 1px;
  color: var(--primary);
}
.normal {
  width: 100%;
}

div > img {
  height: 13px;
  width: 13px;
}

.social-login {
 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 30px;
}

.social-option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px;
  width: 50%;
  border-radius: 3px;
  box-shadow: 1px 2px 5px 2px rgb(243, 236, 236);
  gap: 10px;
  color: var(--primary);
}

.social-option img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

@media screen  and (max-width: 768px){
  main > div {
  margin: 0 10px;
  width: 370px;
}
}