* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color: #1d4ed8;
  --colortwo: #a0a3bd;
}

body {
  font-family: "Mulish", sans-serif;
  letter-spacing: 0.75px;
  font-size: 16px;
  background-color: #a0a3bd33;
}

/* header */
.default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: rgb(255, 255, 255, 1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.default > a > svg {
  width: 120px;
  height: auto;
}

.allnavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 250px;
}

.default > div > nav > a {
  text-decoration: none;
  color: black;
}

.default > div > nav {
  display: flex;
  gap: 40px;
}

.default > div > div {
  display: flex;
  gap: 20px;
}

.default > div > div > a {
  text-decoration: none;
}

.default > div > nav .active {
  color: var(--color);
}
.default > div > nav a:hover:not(.active) {
  color: var(--color);
}

/* navBtn */
.navBtn,
.nav {
  display: flex;
}

.signIn {
  background-color: white;
  color: var(--color);
  border: 1px solid var(--color);
  padding: 7px 12px;
  border-radius: 5px;
}
.signUp {
  background-color: var(--color);
  color: white;
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
}

.signUp:hover {
  background-color: #557ff3;
}

.signIn:hover {
  background-color: #eeefff;
}

/* header after login */
.afterLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 70px;
  background: rgb(255, 255, 255, 1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: none;
}

.allnavbarLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
}

.afterLogin > a > svg {
  width: 120px;
  height: auto;
}

.allnavbarLogin > nav > a {
  text-decoration: none;
  color: black;
}

.allnavbarLogin > nav {
  display: flex;
  gap: 40px;
}

.allnavbarLogin > div {
  display: flex;
  gap: 20px;
}

.allnavbarLogin > div > a {
  text-decoration: none;
}

.allnavbarLogin > nav .active {
  color: var(--color);
}
.allnavbarLogin > nav a:hover:not(.active) {
  color: var(--color);
}

#location,
.search {
  margin: 20px 0px;
}

#location {
  border: none;
  font-size: 18px;
}

.allnavbarLogin img {
  width: 50px;
  height: 50px;
  margin: 10px 0;
  border-radius: 50%;
  object-fit: cover;
}

.buttonNav {
  display: none;
}

.logout {
  background-color: white;
  border: 2px solid var(--color);
  padding: 10px 20px;
  border-radius: 7px;
}

.menuLogout {
  position: relative;
  display: inline-block;
}

.profilePict {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.buttonNav {
  position: absolute;
  bottom: -50px;
  left: -50px;
  background-color: white;
  padding: 10px 40px;
  display: none;
  z-index: 999;
}

/* section satu*/
main {
  display: flex;
  margin: 120px 90px;
  gap: 40px;
}

main > section:nth-of-type(1) > div {
  background-color: white;
  border-radius: 30px;
}

.info-account > div > div {
  padding: 30px 40px;
}

.info-account > div > div > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

main > section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 50px;
}

.info-account > div > div:nth-child(1) > div:nth-child(2) p:nth-of-type(1) {
  font-weight: 700;
  font-size: 20px;
}

.info-account > div > div:nth-child(1) > div:nth-child(2) p:nth-of-type(2) {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 30px;
}

.info-account > div > div:nth-child(1) > div:nth-child(2) p {
  text-align: center;
}

.info-account > div > div:nth-child(1) {
  border-bottom: 1px solid var(--colortwo);
}

.info-account > div > div:nth-child(2) > p {
  font-size: 16px;
  margin-bottom: 30px;
}

.info-account > div > div:nth-child(2) > div {
  position: relative;
  background-color: var(--color);
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 20px;
  line-height: 50px;
  box-shadow: 0px 7px rgb(183, 185, 255);
  margin-bottom: 30px;
  overflow: hidden;
}

.info-account > div > div:nth-child(2) span {
  font-size: 14px;
  font-weight: 400;
}

.info-account > div > div:nth-child(2) svg {
  position: absolute;
  bottom: 60px;
  right: 0;
  z-index: 2;
}

.circle:nth-of-type(1) {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  top: -30px;
  right: -50px;
}

.circle:nth-of-type(2) {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  top: -50px;
  right: -35px;
}

.info-account > div > div:nth-child(2) label {
  font-size: 16px;
}

.info-account > div > div:nth-child(2) progress {
  width: 100%;
  height: 30px;
}

/* section 2 */
main > section:nth-of-type(2) > div {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 50px;
  width: 700px;
}

main > section:nth-of-type(2) > div:nth-child(1) {
  display: flex;
  gap: 30px;
}

main > section:nth-of-type(2) > div:nth-child(1) a {
  font-size: 18px;
  text-decoration: none;
  color: var(--colortwo);
  margin: 0px 30px;
  padding: 20px 0;
}

main > section:nth-of-type(2) > div:nth-child(1) .on {
  color: black;
  border-bottom: 2px solid var(--color);
  margin: 0 0;
}

.ticket-list > div:nth-child(1) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.ticket-list > div:not(.details-result) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.ticket-list > div:nth-child(2) > div {
  display: flex;
  margin-bottom: 10px;
  gap: 20px;
}

.ticket-list > div:nth-child(1) p,
.details {
  color: var(--colortwo);
  font-size: 16px;
  margin-bottom: 12px;
}

.ticket-list > div:nth-child(1) {
  border-bottom: 1px solid var(--colortwo);
}

.ticket-active {
  background-color: #00ba8833;
  color: #003627;
  padding: 10px 30px;
  border-radius: 15px;
}

.not-paid {
  background-color: #e82c2c33;
  color: #e82c2c;
  padding: 10px 30px;
  border-radius: 15px;
}

.ticket-used {
  background-color: #6e719133;
  color: #3c3e54;
  padding: 10px 45px;
  border-radius: 15px;
}

.ticket-paid {
  background-color: #1d4ed833;
  color: #0e42d0;
  padding: 10px 50px;
  border-radius: 15px;
}

.details > a {
  text-decoration: none;
  color: var(--colortwo);
}

.details-result {
  padding: 0px 50px;
}

.ticket-result > div > h3 {
  font-size: 24px;
  color: black;
  margin-bottom: 35px;
}

.ticket-result > div > dl > div > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ticket-result > div > dl > div > div:nth-of-type(1) dd {
  font-weight: 700;
  color: black;
}

.ticket-result > div > dl > div > div:nth-of-type(1) button {
  color: var(--color);
  border: 1px solid var(--color);
  background-color: white;
  padding: 7px 25px;
  border-radius: 5px;
}

.ticket-result > div > dl > div:nth-of-type(2) > dd {
  color: var(--color);
  font-weight: 700;
}

.ticket-result > div > dl > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.ticket-result > div > p {
  line-height: 28px;
  margin-bottom: 20px;
}
.ticket-result > div > p span {
  color: #d00707;
}

.ticket-result > div > a {
  text-decoration: none;
  background-color: var(--color);
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
}

/* footer */
footer > div {
  display: flex;
  justify-content: space-between;
}

.logo-sponsor {
  display: flex;
  flex-direction: column;
}

footer {
  padding: 50px 90px 10px;
  background-color: white;
  margin-top: 70px;
}

footer > div > div > h2 {
  font-size: 16px;
  margin-bottom: 30px;
}

.explore {
  display: flex;
  flex-direction: column;
}

footer > div > div:nth-child(1) p {
  font-size: 16px;
  color: #6e7191;
  line-height: 30px;
}

footer > div > div:nth-child(2) span {
  font-size: 14px;
  color: #4e4b66;
  line-height: 30px;
}

.sponsor svg {
  margin: 10px 0;
}

footer > div > div:nth-child(4) div {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.social-media {
  display: flex;
  flex-direction: column;
}

footer > div > div:nth-child(4) div > p {
  font-size: 14px;
  color: #6e7191;
}

footer > p {
  font-size: 14px;
  color: #4e4b66;
  text-align: center;
  padding: 40px 0 0;
}

#menu {
  display: none;
}

.hamburger-icon,
.hamburger-login {
  display: none;
  font-size: 32px;
  cursor: pointer;
}

/* responsive */
@media screen and (max-width: 768px) {
  /* header */
  header > .default {
    flex-wrap: wrap;
    padding: 20px;
    height: 80px;
    gap: 0px;
    position: relative;
  }

  .allnavbar {
    display: none;
  }

  .allnavbar.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -380px;
    /* height: 100px; */
  }

  .nav {
    width: 100%;
  }

  .nav,
  .navBtn {
    display: flex;
    flex-direction: column;
    /* height: 100px; */
  }

  .hamburger-icon {
    display: block;
  }

  .allnavbar {
    flex-direction: column;
    width: 100%;
    background-color: white;
    gap: 15px;
    align-items: flex-start;
    margin-top: 15px;
  }

  .allnavbar > div {
    margin: 15px 0;
  }

  .navBtn {
    width: 100%;
    padding: 20px;
  }

  /* header after login*/
  .afterLogin {
    flex-wrap: wrap;
    padding: 0px;
    height: 80px;
    position: fixed;
    z-index: 99;
    border-bottom: 1px solid var(--colortwo);
  }

  .hamburger-login {
    display: block;
  }

  .allnavbarLogin {
    display: none;
  }

  .allnavbarLogin.active {
    margin-top: 0px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    /* height: 100px; */
  }

  .allnavbarLogin {
    width: 100%;
    background-color: white;
    gap: 15px;
    align-items: flex-start;
    margin-top: 15px;
  }

  .allnavbarLogin > div {
    margin: 15px 0;
  }

  .items {
    flex-direction: column;
    width: 100%;
  }

  .allnavbarLogin > div {
    flex-direction: column;
    width: 100%;
  }

  .search {
    display: none;
  }

  .logout {
    width: 100%;
  }

  .nav,
  .navBtn {
    display: flex;
    flex-direction: column;
    /* height: 100px; */
  }

  .hamburger-login {
    display: block;
    margin-right: 20px;
  }

  .afterLogin svg {
    margin-left: 20px;
  }

  .item {
    border-bottom: 1px solid var(--colortwo);
    padding: 10px 30px;
  }

  #location,
  .search {
    border-bottom: 1px solid var(--colortwo);
    padding: 10px 30px;
  }

  .afterLogin img {
    margin-bottom: 50px;
    margin-left: 30px;
  }

  .logout {
    margin-bottom: 30px;
    margin-left: 30px;
  }

  /* main */
  .info-account > div:nth-child(1) > div:nth-child(1) div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-account > div:nth-child(1) > div:nth-child(1) div:nth-child(2) > div {
    display: flex;
    flex-direction: column;
  }

  main {
    flex-direction: column;
    width: 88vw;
    margin: 7vw;
  }

  .ticket-result > div {
    transform: scale(0.8);
  }

  /* footer */
  footer > div {
    flex-direction: column;
  }
  .logo-sponsor {
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
  }

  footer > div > div > h1 {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .explore {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
  }

  footer > div > div:nth-child(4) > div p {
    display: none;
  }

  .social-media {
    flex-direction: row;
  }
}
