* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color: #1d4ed8;
  --colortwo: #a0a3bd;
}

body {
  font-family: "Mulish", sans-serif;
  letter-spacing: 0.75px;
  font-size: 18px;
  background-color: #a0a3bd33;
}

/* header */
.default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: rgb(255, 255, 255, 1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.default > a > svg {
  width: 120px;
  height: auto;
}

.allnavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 250px;
}

.default > div > nav > a {
  text-decoration: none;
  color: black;
}

.default > div > nav {
  display: flex;
  gap: 40px;
}

.default > div > div {
  display: flex;
  gap: 20px;
}

.default > div > div > a {
  text-decoration: none;
}

.default > div > nav .active {
  color: var(--color);
}
.default > div > nav a:hover:not(.active) {
  color: var(--color);
}

/* navBtn */
.navBtn,
.nav {
  display: flex;
}

.signIn {
  background-color: white;
  color: var(--color);
  border: 1px solid var(--color);
  padding: 7px 12px;
  border-radius: 5px;
}
.signUp {
  background-color: var(--color);
  color: white;
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
}

.signUp:hover {
  background-color: #557ff3;
}

.signIn:hover {
  background-color: #eeefff;
}

/* header after login */
.afterLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 70px;
  background: rgb(255, 255, 255, 1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: none;
}

.allnavbarLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
}

.afterLogin > a > svg {
  width: 120px;
  height: auto;
}

.allnavbarLogin > nav > a {
  text-decoration: none;
  color: black;
}

.allnavbarLogin > nav {
  display: flex;
  gap: 40px;
}

.allnavbarLogin > div {
  display: flex;
  gap: 20px;
}

.allnavbarLogin > div > a {
  text-decoration: none;
}

.allnavbarLogin > nav .active {
  color: var(--color);
}
.allnavbarLogin > nav a:hover:not(.active) {
  color: var(--color);
}

#location,
.search {
  margin: 20px 0px;
}

#location {
  border: none;
  font-size: 18px;
}

.allnavbarLogin img {
  width: 50px;
  height: 50px;
  margin: 10px 0;
  border-radius: 50%;
  object-fit: cover;
}

.buttonNav {
  display: none;
}

.logout {
  background-color: white;
  border: 2px solid var(--color);
  padding: 10px 20px;
  border-radius: 7px;
}

.menuLogout {
  position: relative;
  display: inline-block;
}

.profilePict {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.buttonNav {
  position: absolute;
  bottom: -50px;
  left: -50px;
  background-color: white;
  padding: 10px 40px;
  display: none;
  z-index: 999;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
  & section {
    background-color: white;
    padding: 20px;
    width: 60%;
    & div:nth-of-type(1) > div:nth-of-type(1) {
      font-weight: 700;
    }
    & div > div:nth-of-type(2) {
      display: flex;
      align-items: center;
      gap: 10px;
      & select {
        margin: 10px 0;
        padding: 7px 20px;
        background-color: rgba(227, 227, 227, 0.411);
        border-radius: 5px;
      }
      & button {
        background-color: var(--color);
        border: none;
        padding: 7px 15px;
        border-radius: 5px;
        color: white;
      }
    }
    & .title {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
}

/* footer */
footer > div {
  display: flex;
  justify-content: space-between;
}

.logo-sponsor {
  display: flex;
  flex-direction: column;
}

footer {
  padding: 50px 90px 10px;
  background-color: white;
  margin-top: 70px;
}

footer > div > div > h2 {
  font-size: 16px;
  margin-bottom: 30px;
}

.explore {
  display: flex;
  flex-direction: column;
}

footer > div > div:nth-child(1) p {
  font-size: 16px;
  color: #6e7191;
  line-height: 30px;
}

footer > div > div:nth-child(2) span {
  font-size: 14px;
  color: #4e4b66;
  line-height: 30px;
}

.sponsor svg {
  margin: 10px 0;
}

footer > div > div:nth-child(4) div {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.social-media {
  display: flex;
  flex-direction: column;
}

footer > div > div:nth-child(4) div > p {
  font-size: 14px;
  color: #6e7191;
}

footer > p {
  font-size: 14px;
  color: #4e4b66;
  text-align: center;
  padding: 40px 0 0;
}

.hamburger-icon,
.hamburger-login {
  display: none;
  font-size: 32px;
  cursor: pointer;
}

/* responsive */
@media screen and (max-width: 768px) {
  /* header */
  header > .default {
    flex-wrap: wrap;
    padding: 20px;
    height: 80px;
    gap: 0px;
    position: relative;
  }

  .allnavbar {
    display: none;
  }

  .allnavbar.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -380px;
    /* height: 100px; */
  }

  .nav {
    width: 100%;
  }

  .nav,
  .navBtn {
    display: flex;
    flex-direction: column;
    /* height: 100px; */
  }

  .hamburger-icon {
    display: block;
  }

  .allnavbar {
    flex-direction: column;
    width: 100%;
    background-color: white;
    gap: 15px;
    align-items: flex-start;
    margin-top: 15px;
  }

  .allnavbar > div {
    margin: 15px 0;
  }

  .navBtn {
    width: 100%;
    padding: 20px;
  }

  /* header after login*/
  .afterLogin {
    flex-wrap: wrap;
    padding: 0px;
    height: 80px;
    position: fixed;
    z-index: 99;
    border-bottom: 1px solid var(--colortwo);
  }

  .hamburger-login {
    display: block;
  }

  .allnavbarLogin {
    display: none;
  }

  .allnavbarLogin.active {
    margin-top: 0px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    /* height: 100px; */
  }

  .allnavbarLogin {
    width: 100%;
    background-color: white;
    gap: 15px;
    align-items: flex-start;
    margin-top: 15px;
  }

  .allnavbarLogin > div {
    margin: 15px 0;
  }

  .items {
    flex-direction: column;
    width: 100%;
  }

  .allnavbarLogin > div {
    flex-direction: column;
    width: 100%;
  }

  .search {
    display: none;
  }

  .logout {
    width: 100%;
  }

  .nav,
  .navBtn {
    display: flex;
    flex-direction: column;
    /* height: 100px; */
  }

  .hamburger-login {
    display: block;
    margin-right: 20px;
  }

  .afterLogin svg {
    margin-left: 20px;
  }

  .item {
    border-bottom: 1px solid var(--colortwo);
    padding: 10px 30px;
  }

  #location,
  .search {
    border-bottom: 1px solid var(--colortwo);
    padding: 10px 30px;
  }

  .afterLogin img {
    margin-bottom: 50px;
    margin-left: 30px;
  }

  .logout {
    margin-bottom: 30px;
    margin-left: 30px;
  }

  /* footer */
  footer > div {
    flex-direction: column;
  }
  .logo-sponsor {
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
  }

  footer > div > div > h1 {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .explore {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
  }

  footer > div > div:nth-child(4) > div p {
    display: none;
  }

  .social-media {
    flex-direction: row;
  }
}
